{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Translation edit</h3>
                        {{ form_start(delete_form) }}
                            <input type="submit" class="btn btn-danger pull-right" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                    <!-- /.box-header -->

                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(edit_form) }}

                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(edit_form.term, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_widget(edit_form.term, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.language, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_widget(edit_form.language, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {{ form_widget(edit_form.name) }}
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-default" href="{{ path('translation_index') }}">Back to the list</a>
                    </div>
                    <!-- /.box-footer -->
                    {{ form_end(edit_form) }}
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
