{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Translations list</h3>
                    </div>
                    <div class="box-header">
                        <a class="btn btn-primary" href="{{ path('translation_new') }}">Create a new translation</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="table-translations" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Language</th>
                                <th>Translated by</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for translation in translations %}
                                <tr>
                                    <td><a href="{{ path('translation_show', { 'id': translation.id }) }}">{{ translation.id }}</a></td>
                                    <td>{{ translation.name }}</td>
                                    <td>{{ translation.language }}</td>
                                    <td>{{ translation.user }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('translation_show', { 'id': translation.id }) }}">show</a>
                                        {% if app.user.username == translation.user %}
                                            <a class="btn btn-warning" href="{{ path('translation_edit', { 'id': translation.id }) }}">edit</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('#table-translations').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}