{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Translation creation</h3>
                    </div>
                    <!-- /.box-header -->

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}

                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.term, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_widget(form.term, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.language, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}
                                <a class="btn btn-primary" href="{{ path('language_new') }}">Add new language</a>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {{ form_widget(form.name) }}
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a class="btn btn-default" href="{{ path('translation_index') }}">Back to the list</a>
                    </div>
                    <!-- /.box-footer -->
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
