{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Glossary edit</h3>
                        {{ form_start(delete_form) }}
                            <input type="submit" class="btn btn-danger pull-right" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                    <!-- /.box-header -->

                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(edit_form) }}

                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(edit_form.subject, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_widget(edit_form.subject, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {{ form_widget(edit_form.name) }}
                        </div>

                        <h3>Terms</h3>
                        <div class="terms" data-prototype="{{ form_widget(edit_form.terms.vars.prototype.name, {'attr': {'class': 'form-control'}})|e('html_attr') }}">
                            {% for term in edit_form.terms %}
                                <div class="term-item">
                                    <div class="form-group">
                                        {{ form_label(term.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                        {{ form_widget(term.name) }}
                                    </div>
                                </div>
                                <hr/>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-default" href="{{ path('glossary_index') }}">Back to the list</a>
                    </div>
                    <!-- /.box-footer -->
                    {{ form_end(edit_form) }}
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-primary">Add a term</a>');
        var $newLinkLi = $('<div class="add-term-item"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.terms');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div.term-item').each(function() {
                addTagFormDeleteLink($(this));
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div class="term-item"><div class="col-sm-2 control-label"><b>Name</b></div></div>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="form-group"><div class="col-sm-2 control-label"></div><div class="col-sm-10"><a href="#" class="btn btn-danger">delete this term</a></div></div>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}
