{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Glossaries list</h3>
                    </div>
                    <div class="box-header">
                        <a class="btn btn-primary" href="{{ path('glossary_new') }}">Create a new glossary</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="table-glossaries" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Created by</th>
                                <th>Terms</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for glossary in glossaries %}
                                <tr>
                                    <td><a href="{{ path('glossary_show', { 'id': glossary.id }) }}">{{ glossary.id }}</a></td>
                                    <td>{{ glossary.name }}</td>
                                    <td>{{ glossary.user }}</td>
                                    <td>{% for term in glossary.terms %}{{ term.name }}; {% endfor %}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('glossary_show', { 'id': glossary.id }) }}">show</a>
                                        {% if app.user.username == glossary.user %}
                                            <a class="btn btn-warning" href="{{ path('glossary_edit', { 'id': glossary.id }) }}">edit</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Created by</th>
                                <th>Terms</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('#table-glossaries').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}
