{% extends 'base.html.twig' %}

{% block meta_keywords %}{{ glossary.name }}, {{ glossary.subject }}, {% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Glossary <b>{{ glossary.name }}</b></h3>
                        {% if app.user.username == glossary.user %}
                            {{ form_start(delete_form) }}
                                <input type="submit" class="btn btn-danger pull-right" value="Delete">
                            {{ form_end(delete_form) }}
                        {% endif %}
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Created by</th>
                            </tr>
                            <tr>
                                <td>{{ glossary.id }}</td>
                                <td>{{ glossary.name }}</td>
                                <td>{{ glossary.subject }}</td>
                                <td>{{ glossary.user }}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        {% if app.user.username == glossary.user %}
                            <a class="btn btn-warning" href="{{ path('glossary_edit', { 'id': glossary.id }) }}">Edit</a>
                        {% endif %}
                        <a class="btn btn-default" href="{{ path('glossary_index') }}">Back to the list</a>
                    </div>
                    <!-- /.box-footer -->

                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Terms list</b></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Translations</th>
                                <th>Actions</th>
                            </tr>
                            {% for term in glossary.terms %}
                                <tr>
                                    <td>{{ term.id }}</td>
                                    <td>{{ term.name }}</td>
                                    <td>{% for translation in term.translations %}{{ translation.language }} [{{ translation.name }}]; {% endfor %}</td>
                                    <td><a class="btn btn-primary" href="{{ path('translation_new_by_term', { 'termId': term.id }) }}">Add translation</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
