{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Language <b>{{ language.name }}</b></h3>
                        {{ form_start(delete_form) }}
                            <input type="submit" class="btn btn-danger pull-right" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                            <tr>
                                <td>{{ language.id }}</td>
                                <td>{{ language.name }}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a class="btn btn-warning" href="{{ path('language_edit', { 'id': language.id }) }}">Edit</a>
                        <a class="btn btn-default" href="{{ path('language_index') }}">Back to the list</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
