<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Create and manage mini glossaries, share with your friends and contribute translating terms in others users mini glossaries" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}glossary, term, translation, language, contribute, share, volunteer, free lancer" />
    <meta name="author" content="ProZ">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <title>{% block title %}Mini Glossary{% endblock %}</title>
    <!-- glossary, translation, language -->

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        <!-- All minified CSS files -->
        <link rel="stylesheet" href="{{ asset('dist/css/all.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script assets="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script assets="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-red-light sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('homepage') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>M</b>G</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Mini</b>Glossary</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {{ include('base.sidebar.html.twig') }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block body %}{% endblock %}

    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 1999-2017 <a href="http://almsaeedstudio.com">ProZ.com</a>.</strong> All rights
        reserved.
    </footer>

</div>
<!-- ./wrapper -->
{% block javascripts %}
    <!-- All minified JS files -->
    <script src="{{ asset('dist/js/all.min.js') }}"></script>
{% endblock %}
</body>
</html>
