<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <img src="{{ asset('dist/img/avatar.png') }}" class="img-circle" alt="User Image">
                    {% else %}
                        <img src="{{ asset('dist/img/avatar5.png') }}" class="img-circle" alt="User Image">
                    {% endif %}
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.username }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
        {% endif %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">{{ 'MAIN NAVIGATION'|trans }}</li>
            <li class="treeview">
                <a href="{{ path('glossary_index') }}">
                    <i class="fa fa-book"></i> <span>{{ 'Glossary'|trans }}</span>
                </a>
            </li>
            <li class="treeview">
                <a href="{{ path('translation_index') }}">
                    <i class="fa fa-flag"></i> <span>{{ 'Translation'|trans }}</span>
                </a>
            </li>
            <li class="header">{{ 'CONFIGURATION'|trans }}</li>
            <li class="treeview">
                <a href="{{ path('language_index') }}">
                    <i class="fa fa-language"></i> <span>{{ 'Language'|trans }}</span>
                </a>
            </li>
            <li class="treeview">
                <a href="{{ path('subject_index') }}">
                    <i class="fa fa-file-text-o"></i> <span>{{ 'Subject'|trans }}</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
