<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Create and manage mini glossaries, share with your friends and contribute translating terms in others users mini glossaries" />
    <meta name="keywords" content="glossary, term, translation, language, contribute, share, volunteer, free lancer" />
    <meta name="author" content="ProZ">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <title>Mini Glossary | Log in</title>
    <!-- glossary, translation, language -->

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- All minified CSS files -->
    <link rel="stylesheet" href="{{ asset('dist/css/all.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script assets="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script assets="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{{ path('homepage') }}"><b>Mini</b>Glossary</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        {% if error %}
            <p class="text-red" align="center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Your user name" id="username" name="_username" value="{{ last_username }}">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" id="password" name="_password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="{{ path('user_registration') }}" class="btn btn-block btn-social btn-google btn-flat">Register a new membership</a>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- All minified JS files -->
<script src="{{ asset('dist/js/all.min.js') }}"></script>

</body>
</html>
