<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Create and manage mini glossaries, share with your friends and contribute translating terms in others users mini glossaries" />
    <meta name="keywords" content="glossary, term, translation, language, contribute, share, volunteer, free lancer" />
    <meta name="author" content="ProZ">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <title>Mini Glossary | Register</title>
    <!-- glossary, translation, language -->

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- All minified CSS files -->
    <link rel="stylesheet" href="{{ asset('dist/css/all.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script assets="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script assets="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{{ path('homepage') }}"><b>Mini</b>Glossary</a>
    </div>
    <!-- /.login-logo -->

    <div class="login-box-body">
        <p class="login-box-msg">Sign up to create and manage mini-glossaries</p>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="box-body">
            <div class="form-group">
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'username'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm password'}}) }}
            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default pull-right" href="{{ path('login') }}">Back to login</a>
        </div>
        <!-- /.box-footer -->
        {{ form_end(form) }}

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- All minified JS files -->
<script src="{{ asset('dist/js/all.min.js') }}"></script>

</body>
</html>
